/*
 * MyFooter css File
*/

.MyFooter {
    /* propertys here */
}
.content {
    padding: 75px 0 75px 0; 
}

.contact {
    text-align: left;
}

.contact ul li a {
    text-decoration: none;
    color: rgb(77, 76, 76);
}

.contact ul li a:hover {
    color: #000;
}

.style-icon-ft {
    width: 24px;
    height: 24px;
    padding-right: 9px;
}
.copy-right {
  padding-bottom: 40px;
}